.logo-area {
  padding-left: 3%;
}

.menu-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 3%;
  height: 50px !important;
}

.help-button {
  margin-top: 22px;
  color: gray;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.8em;
  cursor: pointer;
}