<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div *ngIf="images.QR_logo_sm"><img src="{{images.QR_logo_sm}}" alt="QR Studio" width="22" class="mr-2">
            </div>
            <a class="navbar-brand" [routerLink]="['/']">QR Code Generator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loginflag">
                        <a class="nav-link text-dark" [routerLink]="['/qr']">QR Code</a>
                    </li>
                    <li class="nav-item" *ngIf="loginflag">
                        <a class="nav-link " [routerLink]='["/authentication/logout"]' [state]='{ local: true }'
                            title="Logout">Logout</a>
                    </li>
                    <li class="nav-item" *ngIf="!loginflag">
                        <a class="nav-link " [routerLink]='["/authentication/login"]' [state]='{ local: true }'
                            title="Logout">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>