/* You can add global styles to this file, and also import other style files */

body > .grid {
height: 100%;
}
.image {
margin-top: -100px;
}
.ui.message .list:not(.ui) li:before {
  content: '-';
}
footer {
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 0;
}
footer p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  font-size: 11px;
  display: block;
  padding-top: 4px;
}

/*# sourceMappingURL=styles.css.map */
.fixed_button{
  position: fixed;
  top: 78px;
  left: 205px;
  height: auto;
  border: 0px solid #d6d6d6;
  z-index: 999;
  padding: 0;
  text-align: center;
}
.home-margin {
  margin-top: 10%;
}
.uygulama-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
  background-color: #f5f5f5;
  margin-left: 12px;
}
.rotate-left{
  transform: rotate(90deg);
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}
.rotate-right{
  transform: rotate(90deg);
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.left-layout{
  margin-left: 16%;
  margin-right:10px;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}
.right-layout{
  margin-left: 10%;
  margin-right: 10px;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}
.footer_QR {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 0;
}


.sidebar_btn
{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  /* border: 2px solid #e74c3c; */
  border-radius: 0.6em;
  color: #e9eaeb;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1em .8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.sidebar_btn:hover, .btn:focus {
  color: rgb(24, 19, 19);
  outline: 0;
}

.sidebar_btnF {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.sidebar_btnF:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.scrol-auto{
  overflow-y: auto;
  height: 100%;
}

.flexwrap-type {
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin-top: 5px;
  margin-right: 15px;
}

.wrapSayfaYolu {
  display: flex;
  flex-wrap: wrap;
}

.wrapper{
  position: relative;
  width: 100%; 
  height: 100%; 
  padding: 0; 
  overflow-y: scroll; 
  overflow-x: hidden; 
  border: 1px solid #ddd;
}
.sidebar{
	position: fixed;
	width: 300px;
	height: 100%;
	background: #000000e0;
	padding: 20px 0;
}



  

  