@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-mail Confirmation";
}

<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col mr-auto ml-auto mt-1">
                <div class="card card-register">
                    <h1>@ViewData["Title"]</h1>
                    <partial name="_StatusMessage" model="Model.StatusMessage"/>
                    @if (!string.IsNullOrEmpty(Model.ResetCode))
                    {
                        <h4>Password</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="set-password-form" method="post">
                                    <input asp-for="Input.ValidationCode" type="hidden" />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.NewPassword"></label>
                                        <input asp-for="Input.NewPassword" class="form-control"/>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control"/>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                        @section Scripts {
                            <partial name="_ValidationScriptsPartial"/>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
