﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12 mr-auto ml-auto">
                <div class="card card-register">
                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
