﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col-lg mr-auto ml-auto mt-1">
                <div class="card card-register">
                    <h3 class="title">@ViewData["Title"]</h3>
                    <h4>Enter your email.</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <label>Email</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <img
                                                src="~/Identity/Account/images/email.png" width="24">
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block btn-round">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
