@page
@model LoginModel
<div class="wrapper">
    <div class="page-header">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header mb-5">
                    QR Generator MicroService 
                </h2>
                <form class="ui large form" id="account" method="post" class="register-form">
                    <div class="ui segment" style="border-radius: 18px !important; padding: 28px;">
                        <div class="field ">
                            <div class="ui input-group padding-texts">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                         <img
                                            src="~/Identity/Account/images/email.png" width="24">
                                    </span>
                                </div>
                                <input asp-for="Input.Email" class="form-control"  placeholder="E-mail address" />
                                <span asp-validation-for="Input.Email" class="text-danger ui error message"></span>
                            </div>
                        </div>
                        <div class="field ">
                            <div class="ui input-group padding-texts">
                                 <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img
                                            src="~/Identity/Account/images/pass.png" width="24">
                                    </span>
                                </div>
                                <input asp-for="Input.Password" class="form-control"  placeholder="Password"/>
                                 <span asp-validation-for="Input.Password" class="text-danger ui error message"></span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="ui checkbox" style="margin-top:2px;">
                            <input type="checkbox" asp-for="Input.RememberMe" class="form-control" readonly="" tabindex="0"/>
                            <label>Remember Me</label>
                        </div>
                        <div class="divider"></div>
                        <button type="submit" class="ui fluid large yellow submit button" style="margin-top: 10px;"><i
                                    class='fa fa-circle-o-notch fa-spin'></i>
                            Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

}