@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col mr-auto ml-auto mt-2">
                <div class="card card-register">
                    <h3 class="title">@ViewData["Title"]</h3>
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                            <p>
                                This app does not currently have a real email sender registered, see <a
                                    href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email
                                sender.
                                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click
                                    here to confirm your account</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                Please check your email to confirm your account.
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
