﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col mr-auto ml-auto mt-1">
                <div class="card card-register">
                <h1>@ViewData["Title"]</h1>
                    <h4>Reset your password.</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Input.Code" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
