﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password definition success!!";
}
<div class="wrapper">
    <div class="page-header">
        <div class="row">
            <div class="col mr-auto ml-auto mt-1">
                <div class="card card-register">
                    <h1>@ViewData["Title"]</h1>
                    <p>
                        Your password and profile defined Please <a style="color: black;" asp-page="./Login">click</a> to enter the web page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
