@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using QR.App.Data.Model
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Studio</title>
    <link rel="stylesheet" href="~/Identity/css/semantic.css" />
    <link rel="stylesheet" href="~/Identity/css/checkbox.min.css" />
    <link rel="stylesheet" href="~/Identity/css/login.css" />
    <link rel="stylesheet" href="~/Identity/css/demo.css" />

   
    @RenderSection("Styles", false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>

</html>
