<div class="container">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col text-center">
      <img src="../../assets/img/lotusQR.png" alt="QR Code Generator Logo" width="200">
      <h1 class="mt-4 mb-3">QR Code Generator</h1>
      <p class="lead">Welcome to the QR Code generator microservice interface. Here you can generate QR Codes by logging
        in.</p>
    </div>
  </div>
</div>