.container {
  max-width: 800px;
}

/* Center the container vertically and horizontally */
.row {
  display: flex;
}

.vh-100 {
  min-height: 100vh;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

/* Style the logo */
img {
  display: block;
  margin: 0 auto;
}

/* Style the heading and paragraph */
h1,
p {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}