@using RazorLight
@inherits TemplatePage<QR.App.Core.EmailTemplate.Model.ConfirmEmailModel>
@{
    Layout = null;
}
<div>
    Hi, Welcome from I4 Document Application <br />
    
     For Confirmation <a href='{HtmlEncoder.Default.Encode(@Model.CallbackUrl)}'>click</a>.<br />
     Thank you.
</div>