/* Put this code in your CSS file */

/* The div container */
.qrcodeImage {
  display: flex;
  justify-content: center;
  flex: 1;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}