<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <form class="form-horizontal" [formGroup]="QRForm" autocomplete="off">
        <fieldset>
          <legend>QR Model Generate</legend>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class=" control-label" for="URL">QR Code URL :</label>
                <div class="">
                  <input id="URL" name="URL" type="text" placeholder="QR Code URL" class="form-control input-md"
                    required="" formControlName="URL">
                </div>
                <div class="invalid-feedback ml-3" *ngIf="f.URL.errors">
                  <div *ngIf="f.URL.errors.required">URL is mandatory.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label" for="imageWidth">image Width</label>
                <div class="">
                  <input id="imageWidth" name="imageWidth" type="text" placeholder="image width"
                    class="form-control input-md" required="" formControlName="imageWidth">
                  <div class="invalid-feedback ml-3" *ngIf="f.imageWidth.errors">
                    <div *ngIf="f.imageWidth.errors.required">Image Width is mandatory.</div>
                    <div *ngIf="f.imageWidth.errors.pattern">Image Width should be number.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class=" control-label" for="imageHeight">image Height</label>
                <div class="">
                  <input id="imageHeight" name="imageHeight" type="text" placeholder="image height"
                    class="form-control input-md" required="" formControlName="imageHeight">
                  <div class="invalid-feedback ml-3" *ngIf="f.imageHeight.errors">
                    <div *ngIf="f.imageHeight.errors.required">Image Height is mandatory.</div>
                    <div *ngIf="f.imageHeight.errors.pattern">Image Height should be number.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label" for="colorLight">Color Light</label>
                <div class="">
                  <input id="colorLight" name="colorLight" type="text" placeholder="color Light"
                    class="form-control input-md" required="" formControlName="colorLight">
                  <div class="invalid-feedback ml-3" *ngIf="f.colorLight.errors">
                    <div *ngIf="f.colorLight.errors.required">Color Light is mandatory.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class=" control-label" for="colorDark">Color Dark</label>
                <div class="">
                  <input id="colorDark" name="colorDark" type="text" placeholder="color Dark"
                    class="form-control input-md" required="" formControlName="colorDark">
                  <div class="invalid-feedback ml-3" *ngIf="f.colorDark.errors">
                    <div *ngIf="f.colorDark.errors.required">Color Dark is mandatory.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="control-label" for="qRWidth">QR Width</label>
                <div class="">
                  <input id="qRWidth" name="qRWidth" type="text" placeholder="QR Width" class="form-control input-md"
                    required="" formControlName="qRWidth">
                  <div class="invalid-feedback ml-3" *ngIf="f.qRWidth.errors">
                    <div *ngIf="f.qRWidth.errors.required">QR Width is mandatory.</div>
                    <div *ngIf="f.qRWidth.errors.pattern">QR Width should be number.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-md-4 control-label" for="checkboxes">logo</label>
                <div class="col-md-4">
                  <label class="checkbox-inline" for="checkboxes-0">
                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" formControlName="logoExist" >
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <div class="">
                  <input id="title" name="title" type="text" placeholder="title" class="form-control input-md"
                    required="" formControlName="title">
                  <div class="invalid-feedback ml-3" *ngIf="f.title.errors">
                    <div *ngIf="f.title.errors.required">Color Dark is mandatory.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
    <div class="col-lg-4 mx-auto">
      <div class="qrcodeimage ">
        <qrcode [qrdata]="qrdata" [allowEmptyString]="true" [cssClass]="'center'" [colorDark]="colorDark"
          [colorLight]="colorLight" [elementType]="'canvas'" [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1"
          [title]="title" [width]="width"></qrcode>
      </div>
    </div>
  </div>
  <div class="row col-lg-6  ">
    <button class="btn btn-success btn-sm btn-round mt-2 ml-2 " (click)="generateQRCode()">Generate</button>
  </div>
</div>