<div class="wrapper">
  <div class="page-header page-header-xxxs" data-parallax="true">
    <!-- <div class="filter"></div> -->
  </div>
  <div class="main">
    <div class="section profile-content">
      <div class="row">
        <div class="col-lg-4"><img src="../../../assets/img/faces/noteFound.gif"
            class=" lazyload img-thumbnail img-responsive" alt="Morty sees inexistent page" style="width: 500px;" />
        </div>
        <div class="col-lg-8"><br /><br /><br />
          <h1>Heyyy There is no page here</h1><br /><br />
          <h2>What's wrong with you!!!!</h2>
        </div>
      </div>
    </div>
  </div>
</div>