<div class="qr-model-edit rounded border border-info p-3 m-3" *ngIf="editFlaq" [@slideUpDown]>
  <i class="fa fa-window-close fa-lg fixed-closed float-right" (click)="toggle()" style="color:rgb(62, 62, 63)"></i>
  <app-qr-generate [QrId]="QRmodelId" *ngIf="editFlaq"></app-qr-generate>
</div>
<div class="table-responsive - m3" *ngIf="QRList">
  <div class="header-side">
    <h3 class="title float-left ml-2">QR Model List</h3>
    <button type="button" class="btn btn-success float-right" (click)="toggle()" *ngIf="!editFlaq">New QR Code</button>
  </div>
  <table class="table table-striped ml-2">
    <thead>
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>URL</th>
        <th>Color Dark</th>
        <th>Color Light</th>
        <th>Image Height</th>
        <th>Image Width</th>
        <th>Width</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let qr of QRList; let i = index">
        <td>{{ qr.updateDate | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{ qr.updatedByFirstname }}</td>
        <td>{{ qr.url }}</td>
        <td>{{ qr.colorDark }}</td>
        <td>{{ qr.colorLight }}</td>
        <td>{{ qr.imageHeight }}</td>
        <td>{{ qr.imageWidth }}</td>
        <td>{{ qr.width }}</td>
        <td>{{ qr.title }}</td>
        <td>
          <div class="row ">
            <button class="btn btn-sm btn-outline btn-just-icon danger hoverhelp" aria-label="Delete"
              (click)="deleteQR(qr)">
              <i class="fa fa-minus fa-xs" aria-hidden="true" style="color:rgb(192, 37, 76)"></i>
            </button>
            <button id="{{'edit_QR' + i}}" class="btn btn-sm  btn-outline btn-just-icon edit-button-index"
              aria-label="edit" (click)="downloadPng(qr.id)">
              <i class="fa fa-download fa-xs " aria-hidden="true" style="color:rgb(12, 146, 54)"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>